
@import url('./cssdh3.css');
@import url('./csslf2.css');
@import url('./csslc3.css');
@import url('./csslc4.css');
@import url('./csslcta2.css');
@import url('./csslp3.css');
@import url('./csslf3.css');

.content{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    gap: 51px;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}