
*{  
    margin: 0;
    padding: 0;
}

.content{
    display: flex-column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#iframe1 {
    height: 160vh;
}
#iframe2,  #iframe5{
    height: 100vh;
}
#iframe3{
    height: 105vh;
}
#iframe4{
    height: 112vh;
}
#iframe6{
    height: 190vh;
}
#iframe7{
    height: 795px;
}
@media screen and (max-width: 1320px) {
    #iframe2 {
        height: 290vh;
    }
    #iframe5 {
        height: 155vh;
    }
}
@media screen and (max-width: 1150px) {
     #iframe4 {
        height: 200vh;
    }
    #iframe3 {
        height: 180vh;
    }
    #iframe6 {
        height: 560vh;
    }
}

@media screen and (max-width: 1200px)
{
    #iframe7 {
        height: 1280px;
    }
}
