.part8 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 51px;
    flex-direction: column;
    padding: 100px 0 0 0;
    background: linear-gradient(295deg, #9C2004 5.77%, #AB2706 97.94%);
    color: white;
}

.p8content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
}

.p8content h2,
.p8content p {
    color: white;
}

.yellowbt {
    width: 30%;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 36px;
    background-color: yellow;
    color: black;
    margin: 0 auto;
    font-weight: 600;
}

.p8hero {
    width: 300px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

#p8img1 {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#p8yc {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#p8pattent1 {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#p8pattent2 {
    width: 40%;
    position: absolute;
    bottom: 10%;
    right: 0;
}

@media screen and (min-width: 1250px) {
    .part8 {
        display: flex;
        flex-direction: row;
        padding: 64px 0 0 0;
    }
 

    .p8content {
        margin-top: 70px;
        max-width: 478px;
        width: 100%;
        order: 2;
    }

    .p8content h2 {
        font-family: "work sans";
        font-size: 88px;
        font-weight: 700;
        line-height: 104px;
        text-align: left;
    }

    .p8content p {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        /* 133.333% */
    }

    .p8hero {
        width: 656px;
        height: 861px;
        order: 0;
    }
    .yellowbt {
        margin-left: 0;
        color: #080808;
        font-family: "Work Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 56.25% */
        padding: 24px 56px;
        width: auto;
        height: auto;
    }
}