
@import url("./part1.css");
@import url("./part2.css");
@import url("./part3.css");
@import url("./part4.css");
@import url("./part5.css");
@import url("./part6.css");
@import url("./part7.css");
@import url("./part8.css");
@import url("./part9.css");
@import url("./part10.css");

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

}