* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Helvetica !important;
    color: var(--Gray-Gray-700, #2D3748) !important;
    
    background: #CDCDCD !important;
}
.content {
    width: 517px;
}
a {
    color: var(--Teal-Teal-300, #4FD1C5) !important;
    font-size: 10px;
    font-weight: 800;
}